// Filters

$interfaceBackgroundMainColor: rgba(13, 13, 13, 0.557);
$textColor: #bebebe;
$filtersBtnBackground: #13131383;
$filtersShowAllBtnMainColor: #fff;
$filtersShowAllBtnMainTextColor: #000;
$filterButtonsActiveColor: #fff;

$filter1RoomButtonColor: #42c79b;
$filter2RoomButtonColor: #9242c7;
$filter3RoomButtonColor: #68c742;


// sciene rooms

$mainOpacity: 0.5;